body {
    font-family: $font-base;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary;
    font-weight: 700;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 5.652rem;

    @media screen and (max-width: $mobile) {
        font-size: 3rem !important;
    }
}

h2 {
    font-size: 3.997rem;

    @media screen and (max-width: $mobile) {
        font-size: 2.990rem !important;
    }
}

h3 {
    font-size: 3.827rem;

    @media screen and (max-width: $mobile) {
        font-size: 2.900rem !important;
    }
}

h4 {
    font-size: 1.999rem;
}

h5 {
    font-size: 1.414rem;
}

small {
    font-size: 0.707rem;
}

p {
    @include text;

    @media screen and (max-width: $mobile) {
        text-align: justify;
    }
}