@mixin brand {
    color: $color-button;
    font-size: 20px;
    font-weight: 600;
    font-family: $font-primary;

    &:hover,
    &:focus,
    &:active {
        color: $color-button !important;
    }
}

@mixin text {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: $font-base;
}

@mixin subtitle {
    font-size: $twenty-five !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: $font-secondary;
}