// COLORS

$text: #251439;
$background: #f2f2f2;
$primary: #532b5e;
$secondary: #774a82;
$accent: #925489;

// COLORS BUTTONS 

$color-button: #EDD0BF;
$background-button: #BE8CA0;

// MEDIA QUERIES

$mobile: 576px;
$small-tablet: 768px;
$tablet: 1024px;

// DISPLAY 

$display-none: none;

// BACKGROUND

$transparent: transparent;

// MAX 

$max: 100%;

// FONTS

$font-base: "Roboto", sans-serif;
$font-primary: "Playfair Display", serif;
$font-secondary: "Lato", sans-serif;

// POSITION 

$fixed: fixed; 
$absolute: absolute;
$relative: relative;

// SIZE 

$initial: 0;
$small: 1px; 
$five: 5px; 
$ten: 10px; 
$fifteen: 15px;
$twenty: 20px; 
$twenty-five: 25px;

// BORDER

$border-bottom-link: 1px solid $background;