.footer {
    padding: 80px $initial;

    p,
    a {
        font-size: 15px;
    }

    a {
        color: $background;

        &:hover,
        &:focus,
        &:active {
            color: $background;
        }
    }

    p {
        br {
            @media screen and (max-width: $mobile) {
                display: $display-none;
            }
        }
    }
}