.bg-dark {
  background-color: #251439 !important;
}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark p {
  color: #f2f2f2 !important;
}

.background-fixed {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-brand {
  color: #EDD0BF;
  font-size: 20px;
  font-weight: 600;
  font-family: "Playfair Display", serif;
}

.marg-one {
  margin-top: 15px;
}

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body p {
  color: #251439;
}

section {
  padding: 140px 0;
}

img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 5.652rem;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3rem !important;
  }
}

h2 {
  font-size: 3.997rem;
}

h3 {
  font-size: 3.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small {
  font-size: 0.707rem;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 576px) {
  p {
    text-align: justify;
  }
}

.header .navbar {
  padding: 10px 0 20px 0;
}
.header .navbar .nav-item .nav-link {
  color: #f2f2f2;
  font-size: 0.9rem;
  transition: all 0.5s ease !important;
  font-family: "Roboto", sans-serif;
}
.header .navbar .nav-item .nav-link:hover, .header .navbar .nav-item .nav-link:focus, .header .navbar .nav-item .nav-link:active {
  border-bottom: 1px solid #f2f2f2;
}
.header .navbar .nav-item .nav-link.active {
  border-bottom: 1px solid #f2f2f2;
}
.header .navbar .navbar-toggler {
  padding: 10px;
  border: none !important;
}
.header .navbar .navbar-toggler span i {
  color: #f2f2f2;
}
@media screen and (max-width: 1024px) {
  .header .navbar .navbar-nav {
    padding: 15px;
  }
}
.header .navbar .btn {
  margin-top: 5px;
  padding: 10px 25px !important;
}
@media screen and (max-width: 1024px) {
  .header .navbar .btn {
    display: none;
  }
}
.header .navbar .nav-shop {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .navbar .nav-shop {
    display: block;
  }
}

.footer {
  padding: 80px 0;
}
.footer p,
.footer a {
  font-size: 15px;
}
.footer a {
  color: #f2f2f2;
}
.footer a:hover, .footer a:focus, .footer a:active {
  color: #f2f2f2;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.btn-border {
  color: #EDD0BF;
  border: 1px solid #EDD0BF;
}
.btn-border:hover, .btn-border:focus, .btn-border:active {
  color: #f2f2f2;
  background-color: #BE8CA0;
}

.btn-dark {
  color: #EDD0BF;
  background-color: #251439;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: #251439;
  background-color: #f2f2f2;
}

.btn-primary {
  color: #f2f2f2;
  background-color: #532b5e;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #925489;
  background-color: #EDD0BF;
}

.hero h1 {
  margin-top: 5rem;
}
@media screen and (max-width: 576px) {
  .hero h1 {
    margin-top: 0rem !important;
  }
}
.hero h1,
.hero p {
  color: #f2f2f2;
}
@media screen and (max-width: 576px) {
  .hero h1 br,
.hero p br {
    display: none;
  }
}

.card {
  border: none;
  background-color: transparent;
}
.card a {
  text-decoration: none;
}
.card h4 {
  font-size: 15px;
}

.card-products img {
  opacity: 0.6;
  transition: all 0.5s ease;
}
.card-products img:hover, .card-products img:focus, .card-products img:active {
  opacity: 1;
}

.hero-home {
  height: 92vh;
  background-image: url("../../../assets/img/banner/purple-spa.png");
}

.penser img {
  width: 30%;
  margin-top: -50px;
}

/*# sourceMappingURL=main.css.map */
