.introduction-history {
    .person {
        width: 30%;
        height: 800px;
        margin-left: -22%;
        position: $absolute;

        @media screen and (max-width: $mobile) {
            height: 400px;
            width: $max !important;
            margin-bottom: $twenty !important;
            position: $relative !important;
        }

        @media screen and (max-width: $tablet) {
            width: 50%;
            right: 0px !important;
        }
    }

    h2 {
        color: $accent !important;
        margin: $twenty $initial;

        @media screen and (max-width: $mobile) {
            font-size: 20px !important;
        }
    }
}

.fondation,
.products,
.join {
    h2,
    h3 {
        margin-bottom: 35px;
    }
}

.products,
.animals {
    .content {
        padding: 50px $twenty;
    }
}

.citation {
    font-size: 2rem;
}

.values {
    .bg-secondary {
        border: $display-none !important;
    }
}