.hero-home {
    margin-bottom: 5rem;
    @media screen and (max-width: $mobile) {
        margin-bottom: 15rem;
    }
    img {
        top: $initial !important;
        height: 105vh;
        width: $max;
        z-index: -3;
        position: $absolute !important;
    }
}

.penser {
    img {
        width: 30%;
        margin-top: -50px;
    }
}

.relaxation {
    
}