.hero-home {
    margin-bottom: 5rem;
    img {
        top: $initial;
        height: 105vh;
        width: $max;
        z-index: -3;
        position: $absolute;
    }
}

.penser {
    img {
        width: 30%;
        margin-top: -50px;
    }
}

.relaxation {
    
}