.hero-home {
    height: 92vh;
    background-image: url("../../../assets/img/banner/purple-spa.png");
}

.penser {
    img {
        width: 30%;
        margin-top: -50px;
    }
}

.relaxation {
    
}